<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.intern.nudleapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".MyAddressesActivity"/>
        <activity android:name=".DeliveryActivity" />
        <activity android:name=".AddAddressActivity"  android:theme="@style/RedProgressBarTheme"/>
        <activity android:name=".ShareCart.SharedCart">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.nudle.com"
                    android:scheme="http" />
                <data
                    android:host="nudle.com"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfilePageActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".userAccount.SignUpActivity"
            android:screenOrientation="nosensor" />
        <activity android:name=".ProductDetailsActivity" />
        <activity android:name=".OrderDetailsActivity" />
        <activity
            android:name=".SplashActivity"
            android:noHistory="true"
            android:screenOrientation="fullSensor"
            android:theme="@style/SplashStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="nosensor" />

        <receiver
            android:name=".userAccount.SMSBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.RECEIVE_SMS" />

</manifest>